@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

.sample17-page {
  --color-text: #fff;
  --color-bg: #131417;
  --color-link: #aaa;
  --color-link-hover: #fff;
  --color-label: #adadad;
  --color-text-alt: #575757;
  --color-caption: #fff;

  position: relative;
  font-size: 18px;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sample17-page * {
  box-sizing: border-box;
}

.sample17-page a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

.sample17-page a:hover {
  color: var(--color-link-hover);
}

.sample17-page__back {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 1001;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  opacity: 0.7;
}

.sample17-page__back:hover {
  opacity: 1;
}

.sample17-main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sample17-project {
  padding: 1rem;
  max-width: 1000px;
  margin: 20vh auto;
  display: grid;
  grid-column-gap: 7vw;
  grid-row-gap: 0.5rem;
}

.sample17-project--intro {
  grid-template-columns: 1fr;
  grid-template-areas:
    'label-name'
    'name'
    'label-date'
    'date'
    'title'
    'label-mission'
    'mission';
}

.sample17-project--details {
  grid-template-areas: 'label-default' 'paragraph';
  grid-template-columns: 1fr;
}

.sample17-project--left {
  justify-content: start;
}

.sample17-project--right {
  justify-content: end;
}

.sample17-project--details p {
  grid-area: paragraph;
  max-width: 400px;
}

.sample17-project__label--default {
  grid-area: label-default;
}

.sample17-project p {
  line-height: 1.4;
  margin: 0;
  color: var(--color-text-alt);
}

.sample17-project__label {
  color: var(--color-label);
}

.sample17-project__label--name {
  grid-area: label-name;
}

.sample17-project__label--date {
  grid-area: label-date;
}

.sample17-project__label--mission {
  grid-area: label-mission;
}

.sample17-project__name {
  grid-area: name;
}

.sample17-project__date {
  grid-area: date;
}

.sample17-project__mission {
  grid-area: mission;
  line-height: 1.4;
}

.sample17-project__mission p {
  color: var(--color-text-alt);
}

.sample17-project__title {
  grid-area: title;
  font-size: clamp(2rem, 13vw, 8rem);
  font-weight: 400;
  margin: 10vh 0;
  line-height: 1;
}

.sample17-gallery-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40vh auto;
  overflow: hidden;
}

.sample17-gallery-wrap--large {
  height: 110vh;
}

.sample17-gallery-wrap--dense {
  margin: 0;
}

.sample17-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
}

.sample17-gallery--breakout {
  width: min-content;
}

.sample17-gallery__item {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  border-radius: 6px;
  position: relative;
  filter: brightness(1);
}

.sample17-gallery__item-cut {
  overflow: hidden;
  display: grid;
  place-items: center;
}

.sample17-gallery__item-inner {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sample17-caption {
  font-size: clamp(1rem, 3vw, 1.75rem);
  z-index: 101;
  color: var(--color-caption);
  font-weight: 400;
}

/* --- row gallery --- */
.sample17-gallery--row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  --size-factor: 1.25;
  --item-height: 20vh;
}

.sample17-gallery--row .sample17-gallery__item {
  width: auto;
  aspect-ratio: 2 / 3;
}

.sample17-gallery--row .sample17-gallery__item--s {
  height: var(--item-height);
}

.sample17-gallery--row .sample17-gallery__item--m {
  height: calc(var(--size-factor) * var(--item-height));
}

.sample17-gallery--row .sample17-gallery__item--l {
  height: calc(var(--size-factor) * 2 * var(--item-height));
}

.sample17-gallery--row .sample17-gallery__item--xl {
  z-index: 100;
  height: calc(var(--size-factor) * 3 * var(--item-height));
}

.sample17-gallery--switch.sample17-gallery--row .sample17-gallery__item--m,
.sample17-gallery--switch.sample17-gallery--row .sample17-gallery__item--l {
  height: var(--item-height);
}

.sample17-gallery--row .sample17-caption {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -50vh;
  left: 0;
  padding: 4.5vw;
  max-width: 730px;
  opacity: 0;
}

.sample17-gallery--switch.sample17-gallery--row .sample17-caption {
  bottom: 0;
  opacity: 1;
}

/* --- one gallery --- */
.sample17-gallery--one {
  display: grid;
  place-items: center;
}

.sample17-gallery--one .sample17-gallery__item {
  width: 400%;
  height: 400%;
  filter: brightness(1) hue-rotate(90deg);
}

.sample17-gallery--switch.sample17-gallery--one .sample17-gallery__item {
  width: 100%;
  height: 100%;
  filter: brightness(0.7) hue-rotate(0deg);
}

.sample17-gallery--one .sample17-caption {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin: 100vh 0 0 -50vw;
  font-size: clamp(2rem, 5vw, 3rem);
  display: grid;
  place-items: center;
}

.sample17-gallery--switch.sample17-gallery--one .sample17-caption {
  margin-top: -50vh;
}

/* --- grid gallery --- */
.sample17-gallery--grid {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 2.5vw;
  column-gap: 3vw;
}

.sample17-gallery--grid .sample17-gallery__item {
  height: 33vh;
  width: 33vw;
}

.sample17-gallery--switch.sample17-gallery--grid {
  gap: 0;
}

.sample17-gallery--switch.sample17-gallery--grid .sample17-gallery__item {
  height: 110vh;
  width: 110vw;
  filter: brightness(0.65);
}

.sample17-gallery--grid .sample17-caption {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  top: 50%;
  left: 50%;
  margin-top: 50vh;
  margin-left: -50vw;
  display: grid;
  place-items: center;
  max-width: none;
  opacity: 0;
}

.sample17-gallery--switch.sample17-gallery--grid .sample17-caption {
  margin-top: -40vh;
  opacity: 1;
}

.sample17-gallery--grid .sample17-caption p {
  padding: 50vh 30vw 10vh 10vw;
}

.sample17-gallery--switch.sample17-gallery--grid .sample17-caption p {
  margin-top: 0;
}

/* --- stack gallery --- */
.sample17-gallery--stack {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 2rem;
  --offset: 1rem;
}

.sample17-gallery--stack .sample17-gallery__item {
  border-radius: 1.5vw;
  width: 25vw;
  height: 35vw;
  z-index: 1;
}

.sample17-gallery--stack-glass .sample17-gallery__item {
  filter: opacity(1);
}

.sample17-gallery--switch.sample17-gallery--stack .sample17-gallery__item {
  grid-area: 1 / 1 / 2 / 2;
}

.sample17-gallery--stack .sample17-caption {
  position: absolute;
  bottom: 0;
  left: 100vw;
  width: 100vw;
  padding: 5vw;
  color: var(--color-text-alt);
  opacity: 0;
  z-index: 0;
}

.sample17-gallery--stack .sample17-caption p {
  margin: 0;
}

.sample17-gallery--switch.sample17-gallery--stack .sample17-caption {
  left: 0;
  opacity: 1;
}

.sample17-gallery--stack-inverse .sample17-gallery__item:nth-child(5) { z-index: 2; }
.sample17-gallery--stack-inverse .sample17-gallery__item:nth-child(4) { z-index: 3; }
.sample17-gallery--stack-inverse .sample17-gallery__item:nth-child(3) { z-index: 4; }
.sample17-gallery--stack-inverse .sample17-gallery__item:nth-child(2) { z-index: 5; }
.sample17-gallery--stack-inverse .sample17-gallery__item:nth-child(1) { z-index: 6; }

.sample17-gallery--switch.sample17-gallery--stack .sample17-gallery__item:nth-child(2) { margin-left: var(--offset); }
.sample17-gallery--switch.sample17-gallery--stack .sample17-gallery__item:nth-child(3) { margin-left: calc(var(--offset) * 2); }
.sample17-gallery--switch.sample17-gallery--stack .sample17-gallery__item:nth-child(4) { margin-left: calc(var(--offset) * 3); }
.sample17-gallery--switch.sample17-gallery--stack .sample17-gallery__item:nth-child(5) { margin-left: calc(var(--offset) * 4); }
.sample17-gallery--switch.sample17-gallery--stack .sample17-gallery__item:nth-child(6) { margin-left: calc(var(--offset) * 5); }

.sample17-gallery--switch.sample17-gallery--stack-dark .sample17-gallery__item:nth-child(2) { filter: brightness(0.8); }
.sample17-gallery--switch.sample17-gallery--stack-dark .sample17-gallery__item:nth-child(3) { filter: brightness(0.7); }
.sample17-gallery--switch.sample17-gallery--stack-dark .sample17-gallery__item:nth-child(4) { filter: brightness(0.6); }
.sample17-gallery--switch.sample17-gallery--stack-dark .sample17-gallery__item:nth-child(5) { filter: brightness(0.5); }
.sample17-gallery--switch.sample17-gallery--stack-dark .sample17-gallery__item:nth-child(6) { filter: brightness(0.4); }

.sample17-gallery--switch.sample17-gallery--stack-glass .sample17-gallery__item { opacity: 0.7; }

.sample17-gallery--switch.sample17-gallery--stack-scale .sample17-gallery__item:nth-child(2) { transform: scale(0.98); }
.sample17-gallery--switch.sample17-gallery--stack-scale .sample17-gallery__item:nth-child(3) { transform: scale(0.96); }
.sample17-gallery--switch.sample17-gallery--stack-scale .sample17-gallery__item:nth-child(4) { transform: scale(0.94); }
.sample17-gallery--switch.sample17-gallery--stack-scale .sample17-gallery__item:nth-child(5) { transform: scale(0.92); }
.sample17-gallery--switch.sample17-gallery--stack-scale .sample17-gallery__item:nth-child(6) { transform: scale(0.9); }

/* --- gridtiny gallery --- */
.sample17-gallery--gridtiny {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 300%;
  padding: 0 2vh;
  height: min-content;
  gap: 1vh;
}

.sample17-gallery--switch.sample17-gallery--gridtiny {
  width: 100%;
  gap: 2vh;
}

.sample17-gallery--gridtiny .sample17-gallery__item {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  filter: contrast(0.8) saturate(0) brightness(0.6) opacity(1);
}

.sample17-gallery--switch.sample17-gallery--gridtiny .sample17-gallery__item {
  filter: contrast(1) saturate(1) brightness(0.8) opacity(0.8);
}

.sample17-gallery--gridtiny .sample17-caption {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  margin: -50vh 0 0 -50vw;
  display: grid;
  place-items: center;
  font-size: clamp(2rem, 8vw, 4rem);
  opacity: 0;
}

.sample17-gallery--switch.sample17-gallery--gridtiny .sample17-caption {
  opacity: 1;
}

.sample17-gallery--switch .sample17-gallery__item--center {
  height: 100vh;
  width: 100vw;
  aspect-ratio: auto;
  filter: brightness(0.5);
}

/* --- bento gallery --- */
.sample17-gallery--bento {
  display: grid;
  gap: 1vh;
  grid-template-columns: repeat(3, 32.5vw);
  grid-template-rows: repeat(4, 23vh);
  justify-content: center;
  align-content: center;
}

.sample17-gallery--switch.sample17-gallery--bento {
  grid-template-columns: repeat(3, 100vw);
  grid-template-rows: repeat(4, 49.5vh);
  gap: 15vh;
}

.sample17-gallery--bento .sample17-gallery__item:nth-child(1) { grid-area: 1 / 1 / 3 / 2; }
.sample17-gallery--bento .sample17-gallery__item:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.sample17-gallery--bento .sample17-gallery__item:nth-child(3) { grid-area: 2 / 2 / 4 / 3; }
.sample17-gallery--bento .sample17-gallery__item:nth-child(4) { grid-area: 1 / 3 / 3 / 3; }
.sample17-gallery--bento .sample17-gallery__item:nth-child(5) { grid-area: 3 / 1 / 3 / 2; }
.sample17-gallery--bento .sample17-gallery__item:nth-child(6) { grid-area: 3 / 3 / 5 / 4; }
.sample17-gallery--bento .sample17-gallery__item:nth-child(7) { grid-area: 4 / 1 / 5 / 2; }
.sample17-gallery--bento .sample17-gallery__item:nth-child(8) { grid-area: 4 / 2 / 5 / 3; }

.sample17-gallery--bento .sample17-caption {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin: 100vh 0 0 -50vw;
  font-size: clamp(2rem, 10vw, 5rem);
  display: grid;
  place-items: center;
}

.sample17-gallery--switch.sample17-gallery--bento .sample17-caption {
  margin-top: -50vh;
}

/* --- grid10 gallery --- */
.sample17-gallery--grid10 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}

.sample17-gallery--switch.sample17-gallery--grid10 {
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr 60vh 1fr;
  grid-gap: 0;
}

.sample17-gallery--switch.sample17-gallery--grid10 .sample17-gallery__item {
  grid-area: 2 / 2 / 3 / 3;
}

.sample17-gallery--grid10 .sample17-caption {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin: 100vh 0 0 -50vw;
  display: grid;
  place-items: center;
  font-size: clamp(2rem, 8vw, 6rem);
}

.sample17-gallery--switch.sample17-gallery--grid10 .sample17-caption {
  opacity: 1;
  margin-top: -50vh;
}

.sample17-credit {
  position: relative;
  display: block;
  text-align: center;
  padding: 4rem 1rem 6rem;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-text-alt);
}

@media screen and (min-width: 53em) {
  .sample17-project--intro {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'label-name name'
      'label-date date'
      'title title'
      'label-mission mission';
  }

  .sample17-project--details {
    grid-template-areas: 'label-default paragraph';
    grid-template-columns: auto auto;
  }

  .sample17-project__label {
    text-align: right;
  }

  .sample17-project__mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'p1 ...' '... p2';
    column-gap: 2rem;
  }

  .sample17-gallery--grid10 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-1 { grid-area: 1 / 1; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-2 { grid-area: 1 / 2; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-3 { grid-area: 1 / 4; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-4 { grid-area: 1 / 5; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-5 { grid-area: 3 / 6; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-6 { grid-area: 1 / 7; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-7 { grid-area: 1 / 9; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-8 { grid-area: 3 / 10; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-9 { grid-area: 2 / 8; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-10 { grid-area: 4 / 9; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-11 { grid-area: 3 / 8; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-12 { grid-area: 2 / 2; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-13 { grid-area: 3 / 1; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-14 { grid-area: 3 / 4; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-15 { grid-area: 4 / 3; }
  .sample17-gallery--grid10:not(.sample17-gallery--switch) .sample17-pos-16 { grid-area: 4 / 7; }

  .sample17-gallery--stack .sample17-caption {
    bottom: 40%;
    width: 60vw;
    max-width: 800px;
  }

  .sample17-gallery--switch.sample17-gallery--stack .sample17-caption {
    left: 40vw;
  }
}
